<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="well well-lg">
        <div class="hidden-xs">
          <div id="carousel-example-generic" class="carousel slide">
            <ol class="carousel-indicators hidden-xs">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="img-responsive carousel-image" src="assets/car1.jpg" alt="">
                <div class="carousel-caption">
                  <h2>Dieting is choice</h2>
                  <h3>We choose when and how we diet</h3>
                </div>
              </div>
              <div class="item">
                <img class="img-responsive carousel-image" src="assets/car2.jpg" alt="">
                <div class="carousel-caption">
                  <h2>But how do we decide?</h2>
                  <h4>We are inundated with fad diets that often don't work</h4>
                </div>
              </div>
              <div class="item">
                <img class="img-responsive carousel-image" src="assets/car3.jpg" alt="">
                <div class="carousel-caption">
                  <h2>Why not inform yourself?</h2>
                  <h3>There is a better way, LiveDiet!</h3>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div>
        <h2><small>Welcome to</small></h2>
        <h1 class="brand-name"><strong>LiveDiet</strong></h1>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="well well-lg">
        <h2 class="intro-text text-center">A community focused on <strong>Healthier Lifestyles</strong></h2>
        <hr>
        <img class="img-responsive welcome-brand" src="assets/BigLogoBG.jpg" alt="">
        <p>In the modern world dieting is everywhere we turn. According to Gallup polling, 30% of Americans are on a diet at any time but up to 66% regain any lost weight. Fad diets pop up and fizzle out, diet plans promise results with no data to back them up.  We bounce between plans hoping for that instant solution to our goals but how do we sort through all this information and know what we can believe?</p>
        <p>Enter LiveDiet. LiveDiet is a service that allows users to not only track their progress in their chosen diet plan but also browse through a collection of plans and see the results that other users have experienced. Each plan clearly shows the weekly results of the collected users who followed that plan, showing the weekly change in their weight and B.M.I according to their weekly check ins.</p>
        <p>We at LiveDiet encourage our users to focus on their goals and not their personal results. We believe that by watching the scale people tend to lose motivation and give up on the plan they are following too soon. As such, check ins are only permitted once per week and we will send you a reminder of when you will be able to check in again. Instead, our users are encouraged to keep logs recounting their daily experience with the diet plan they are following. Use these to record your calorie intake, exercise or simply as a daily journal of your thoughts.</p>
        <p>We hope that you succeed in whatever goals you set out for yourself and we hope that the tools we provide here at LiveDiet will help you in reaching them! Good luck!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="well well-lg">
        <h2 class="text-center">Only share what <strong>YOU</strong> are comfortable with</h2>
        <hr>
        <p>We understand that the internet is not always a place where you want to share personal information. We also realize that dieting is not always something you want to share. As such, on LiveDiet the only information that will be available to other users is what you choose to share. Your email address will never be shared with others. Your profile picture can be whatever you wish it to be, or nothing at all if you would prefer. We focus heavily on anonymity, allowing our users to focus on their goals and not on concerns over negative feedback. Good luck!</p>
      </div>
    </div>
  </div>
  <% unless current_user %>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#LoginModal">Login</button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#RegisterModal">Register</button>
    </div>
    <br class="hidden-sm hidden-xs">
    <br class="hidden-sm hidden-xs">
    <div class="col-md-12">
  <% end %>
    <a class="btn btn-primary btn-block" href="/plans" role="button">View Plans</a>
  </div>
  <br class="hidden-sm hidden-xs">
  <br class="hidden-sm hidden-xs">
  <br>
</div>
