<h1>Thanks for signing up for LiveDiet, <%= @user.username %>!</h1>
<p>I just wanted to welcome you to the LiveDiet community. We understand that this can be a hard path to take for many people and we like to think that here at LiveDiet you are not alone.</p>
<p>We highliy encourage our users to keep active and up to date with their plans and as such will occasionally send out reminder emails for upcoming check ins once you begin a plan</p>
<p>However, LiveDiet is firm in it's stance on anonymity and as such your email will never be shared with anyone outside of the LiveDiet team. The only personal information that will be available to users is what you choose to share in your log entries.</p>
<p>We hope you enjoy your time on LiveDiet and wish you luck in your future journey!</p>
<p>Sincerely,</p>
<p>The LiveDiet Team!</p>
