'<ul class="list-inline row">
    <li class="col-xs-4 text-left">{{created_at}}</li>
    <li class="col-xs-4 text-center">{{weight}}</li>
    <li class="col-xs-4 text-center">{{new_bmi}}</li>
  <ul>'
