// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark_blue: #95BF74;
$usaf_blue: #BBE1C3;
$true_blue: #FFB56B;
$sky_blue: #F7EFEF;
$electric_lime: #3A2E39;

*{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.well{
  background-color: $sky_blue !important;
}

.navbar-fixed-top {
  height: 135px;
  background-color: $dark_blue;
  border-bottom: 10px solid $true_blue;
  font-family: 'Josefin Slab', serif;
  font-weight: bolder;
}

.main-nav{
  min-height: 135px;
}

body {
  background: linear-gradient(
    rgba(#86daff, 0.00),
    rgba(#0964d9, 0.00)
    ),
    image-url("bg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-body{
  min-height: 620px;
}

.navbar-brand img{
  width: 100px;
  float: left;
}

.navbar h1{
  font-family: 'Josefin Slab', serif;
  font-weight: bolder;
  font-size: 60px;
  color: $electric_lime;
  margin: 0 auto;
  margin-top: 55px;
}

.nav li a{
  margin-top: 20px;
  border: 2px solid $dark_blue !important;
  background-color: $dark_blue;
  color: $electric_lime;
  font-size: 24px;
}

.nav li.active a:focus,
.nav li.active a:hover,
.nav li.active a{
  background-color: $usaf_blue;
  border: 2px solid $dark_blue !important;
  color: $electric_lime;
}

.nav li a:hover{
  border: 2px solid $dark_blue;
  background-color: $electric_lime;
  color: $dark_blue;
}

.user-nav{
  background-color: $usaf_blue;
  color: $electric_lime;
  padding-bottom: 10px;
  border-top: 5px solid $electric_lime;
}

.user-nav li{
  padding-right: 70px;
}

.user-nav li a{
  color: $electric_lime;
}

.user-nav-plan{
  display: inline;
}

@media (min-width: 768px){
  .dropdown{
    margin-top: 75px;
  }
}
@media (min-width: 992px){
  body{
    padding-top: 135px;
  }
  .subbutton{
    margin-left: -50px;
  }
  .checkin_well{
    margin-left: 50px;
  }
}

@media (max-width: 768px){
  .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
  }
}
@media (max-width: 991px){
  .navbar-fixed-top{
    position: static
  }
  .subbutton{
    margin-left: 0px;
  }
  .subbutton .btn{
    display: block;
    width: 100%;
  }
  .plan-title{
    text-align: center;
  }
  .welcome-page .container{
    padding: 0px;
  }
}

.dropdown button{
  background-color: $dark_blue;
}

.dropdown button:focus{
  color: $electric_lime;
}

.well hr{
  height: 0px;
  border: 1px solid $true_blue;
}

.well h2{
  color: $true_blue;
}

.categories a{
  font-family: 'Josefin Slab', serif;
  font-weight: bolder;
  font-size: 24px
}



.sidebar {
  right: 0;
  margin-top: 19px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dark_blue;
  border-left: 10px solid $usaf_blue;
  border-top: 10px solid $usaf_blue;
  border-bottom: 10px solid $usaf_blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar small{
  color: $electric_lime;
}

#user_profile_image{
  color: $electric_lime;
}

.affix-bottom,
.affix-top{
  position: fixed;
  right: 0
}

.sidebar hr{
  height: 0px;
  border: 1px solid $sky_blue;
}

.sidebar h5,
.sidebar p,
.sidebar h4,
.sidebar h4 a{
  color: $electric_lime;
}

.sidebar_table{
  height: 180px;
  overflow: scroll;
}

.sidebar-overview{
  max-height: 300px;
  overflow: scroll;
  background-color: transparent;
  border: none;
}

#subscription-rating{
  background-color: $usaf_blue;
  color: $electric_lime;
  height: 30px;
  width: 50px;
}
#subscription-rating option{
  background-color: $usaf_blue;
  color: $electric_lime;
}

.checkin_well{
  height: 350px;
  overflow: scroll;
}

.list_head{
  position: sticky;
  width: 100%;
  background: $dark_blue;
}

.list_head li{
  color: $electric_lime;
}

.unsubscribe{
  margin-left: -20px;
  margin-top: 10px;
}
.chart{
  border: 2px solid $dark_blue;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
}

.btn{
  background-color: $usaf_blue;
  color: $electric_lime;
}

.btn:hover{
  background-color: $dark_blue;
  color: $true_blue;
}


.footer-top{
  background-color: $usaf_blue;
}


.glyphicon-color,
.footer-list,
.footer-top h3,
.footer-top strong,
.footer-top p{
  color: $electric_lime;
}

.footer-bottom{
  border-top: 5px solid $true_blue;
  background-color: $dark_blue;
  padding-top: 10px;
}

.list-color{
  color: $electric_lime;
}

.list-color i{
  font-size: 20px;
}

.list-color a i{
  font-size: 20px;
  color: $electric_lime
}

.footer-icon{
  width: 20px;
  color: $electric_lime;
}

.welcome-body{
  background-color: $usaf_blue;
}

.welcome-brand{
  display: inline;
  width: 150px;
  float: left;
  margin-right: 25px;
}

h2 small{
  color: $usaf_blue;
}

.brand-name strong{
  color: $true_blue;
  font-family: 'Josefin Slab', serif !important;
  font-weight: bolder !important;
  font-size: 36px !important;
}

.intro-text strong{
  color: $true_blue;
  font-family: 'Josefin Slab', serif !important;
  font-weight: bolder !important;
  font-size: 30px !important;
}

.dropdown{
  float: right;
}
.dropdown-menu{
  background-color: $dark_blue;
  border: 2px solid $electric_lime;
  border-radius: 10px;
}

.dropdown-menu li a{
  color: $electric_lime;
}

.dropdown-menu li a:hover{
  background-color: $usaf_blue;
  color: $electric_lime;
}

.dropdown-submenu{
  position:relative;
  margin-top: auto;
}
.dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu>a:before{
  display:block;content:" ";
  float:left;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:$electric_lime;
  margin-top:5px;
  margin-right:10px;
}

.dropdown-submenu:hover>a:before{
  border-left-color:$dark_blue;
}

.dropdown-submenu:focus>a:before{
  border-left-color:$dark_blue;
}

.dropdown-menu > li > a:focus{
  background-color: $electric_lime;
  color: $dark_blue;
}

.dropdown-submenu.pull-left{
  float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;
  margin-left:10px;
  border-radius:6px 0 6px 6px;
}

.user-info-well{
  min-height: 258px;
}

.modal-body ul{
  width: 100%;
}

.modal-body li {
  float: left;
  width: 33%;
}

.carousel-caption h2{
  color: white;
}

#sidebar-toggle{
  right: 0;
  margin-top: -10px;
  position: fixed;
  background-color: $usaf_blue;
  color: $electric_lime;
  border-color: $usaf_blue;
}

.main-body{
  padding-top: 10px;
}

.pagination > li > a{
  background-color: $sky_blue;
  color: $dark_blue;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{
  background-color: $usaf_blue;
  color: $electric_lime;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus{
  background-color: $dark_blue;
  color: $electric_lime;
}
