<div>
  <ul class="nav nav-tabs nav-justified categories">
    <li><a href="#">Weight Loss</a></li>
    <li><a href="#">Weight Gain</a></li>
    <li><a href="#">Bulk Up</a></li>
  </ul>
</div>
<div>
  <%= render @plans %>
</div>
