<br>
<div>
  <%= render @plan %>
</div>
<hr>
<% if @subscription.any? %>
  <h2>Subscribers:</h2>
  <div id="subscriptions">
    <%= render @subscription %>
    <%= paginate @subscription, :remote => true %>
  </div>
<% else %>
  <h2>Subscribers: NONE</h2>
<% end %>
